.center {
  text-align: center;
}
.list {
  list-style: none;    
}
.list .item {
  display: inline;
}
.filter {
  display: block;
  width: 100%;
}
p.message {
  color: firebrick;
  font-weight: bold;
}