// Colors
$red: firebrick;

// Classes
.button {
    display: inline-block;
    padding: 10px;
    border-radius: .5em;
    border: none;
    margin: 10px;
    font-size: 1.2em;
    background: darkcyan;
    color: white;
}
.button.button-danger {
    background: $red;
    color: white;
}